version: "3"
services:
  minecraft-server:
    container_name: minecraft-server-manager
    image: minecraft-server-manager:${VERSION}
    build:
      dockerfile: ./Dockerfile
    environment:
      - MINECRAFT_DB_HOST=host.docker.internal
      - MINECRAFT_DB_USER=${MINECRAFT_DB_USER}
      - MINECRAFT_DB_PASSWORD=${MINECRAFT_DB_PASSWORD}
      - DOCKER=true
      - USER=${USER}
    ports:
      - 443:443
    extra_hosts:
      - "host.docker.internal:host-gateway"
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - /Users/${USER}/Gaming/Minecraft/Worlds:/Users/${USER}/Gaming/Minecraft/Worlds
    restart: "unless-stopped"
    tty: true
