<html>
	<title>
		Biomes
	</title>

	<header>
		<a
			href="/"
		>
			⌂
		</a>
		&gt; Biomes
	</header>

	<body>
		<h1>
			Biomes
		</h1>

		<a
			href="/biomes/new"
		>
			<button>
				+ New Biome
			</button>
		</a>

		<table>
			<thead>
				<tr>
					<th>
						Title
					</th>
					<th>
						Dimension
					</th>
					<th>
						Description
					</th>
				</tr>
			</thead>
			<tbody>
				{% for biome in biomes %}
					<tr>
						<td>
							<a
								href="/biomes/{{ biome.id }}"
							>
								{{ biome.title }}
							</a>
						</td>
						<td>
							{{ " ".join([part.capitalize() for part in biome.dimension.split("_")]) }}
						</td>
						<td>
							{{ biome.description }}
						</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
	</body>
</html>
