<html>
	<title>
		Biomes
	</title>

	<header>
		<a
			href="/"
		>
			⌂
		</a>
		&gt; Biomes
	</header>

	<body>
		<h1>
			Biomes
		</h1>

		<table>
			<thead>
				<tr>
					<th>
						Title
					</th>
					<th>
						Dimension
					</th>
					<th>
						Description
					</th>
				</tr>
			</thead>
			<tbody>
				{% for biome in biomes %}
					<tr>
						<td>
							{{ biome.title }}
						</td>
						<td>
							{{ biome.dimension }}
						</td>
						<td>
							{{ biome.description }}
						</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
	</body>
</html>
