:root
{
	--background-color: #202124;
	--background-accent-color: #404144;
	--disabled-text-color: #666666;
	--text-color: #DDDDDD;
	--text-secondary-color: #BBBBBB;
	--link-color: #E1C699;
}

html
{
	background-color: var(--background-color);
	color: var(--text-color);
	font-family: Helvetica;
}

body
{
	background-color: var(--background-color);
	color: var(--text-color);
	font-family: Helvetica;
}

div
{
	padding: 8px;
}

a
{
	color: var(--link-color);
}

th
{
	color: var(--text-color);
	padding: 16px;
}

tr:odd
{
	background-color: var(--background-accent-color);
}

td
{
	color: var(--text-color);
	padding: 16px;
	text-align: center;
/*	border-left: solid 1px var(--text-color);*/
}

input
{
	background-color: var(--background-color);
	color: var(--text-color);
}

button
{
	background-color: var(--background-color);
	color: var(--text-color);
	font-size: 20px;
	padding: 8px;
	border-radius: 5px;
}

select
{
	background-color: var(--background-color);
	color: var(--text-color);
	font-size: 20px;
	padding: 8px;
	border-radius: 5px;
}

.boxed
{
	border: solid 2px var(--text-color);
	border-radius: 6px;
	margin: 6px;
	padding: 16px;
}

.floating-button
{
	border-radius: 50%;
	border: 5px solid rgb(49, 73, 118);
	border: 5px solid rgb(49, 73, 118);
	bottom: 20px;
	box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.25);
	color: white;
	font-size: 3em;
	height: 2em;
	justify-content: center;
	outline: #0000FF;
	position: fixed;
	right: 20px;
	width: 2em;
}


.underlined
{
	border-bottom: 1px dotted var(--text-color);
}
