<html>
	<head>
		<!--link rel="icon" href="{{ url_for("static", filename="Media/Images/CurtainBlank.png") }}" -->
		<link rel="stylesheet" href="{{ url_for("static", filename="Style.css") }}">
		<meta name="viewport" content="width=device-width, initial-scale=1">
	</head>

	<body>
		{% block body %}
		{% endblock %}
	</body>

</html