<html>
	<title>
		Worlds
	</title>


	<header>
		⌂
	</header>

	<body>
		<a
			href="/worlds/new"
		>
			<button>
				+ New World
			</button>
		</a>
		<table
			class="boxed"
		>
			<tbody>
				<tr>
					<td>
						<a
							href="/versions"
						>
							Versions
						</a>
					</td>
				</tr>
				<tr>
					<td>
						<a
							href="/worlds"
						>
							Worlds
						</a>
					</td>
				</tr>
			</tbody>
		</table>
	</body>
</html>
