<html>
	<title>
		{{ player.name }}
	</title>

	<header>
		<a
			href="/"
		>
			⌂
		</a>
		&gt;
		<a
			href="/players"
		>
			Players
		</a>
		&gt; {{ player.name }}
	</header>

	<body>
		<h1>
			{{ player.name }}
		</h1>

		<table>
			<tbody>
				<tr>
					<td>
						Name
					</td>
					<td>
						{{ player.name }}
					</td>
				</tr>
				<tr>
					<td>
						UUID
					</td>
					<td>
						{{ player.uuid }}
					</td>
				</tr>
				<tr>
					<td>
						World
					</td>
					<td
						id="world-td"
					></td>
				</tr>
			</tbody>
		</table>
	</body>
</html>


<script>
	{% include "players/player/index.js" with context %}
</script>
