<html>
	<title>
		New Version
	</title>
	<h1>
		Upload A New Version
	</h1>
	<form
		method="post"
		enctype="multipart/form-data"
	>
		<table>
			<tr>
				<td>
					tag
				</td>
				<td>
					<input
						name="tag"
					/>
				</td>
			</tr>
			<tr>
				<td>
					released
				</td>
				<td>
					<input
						type="date"
						name="released"
					/>
				</td>
			</tr>
			<tr>
				<td>
					file
				</td>
				<td>
					<input
						type="file"
						name="file"
					/>
				</td>
			</tr>
		</table>
		<input
			type=submit
			value=Upload
		/>
	</form>
</html>
