<html>
	<title>
		Worlds
	</title>
	<h1>
		Worlds
	</h1>
	<table>
		<thead>
			<tr>
				<th>
					ID
				</th>
				<th>
					Created
				</th>
				<th>
					Name
				</th>
				<th>
					Notes
				</th>
				<th>
					Last Played
				</th>
				<th>
					Container Name
				</th>
				<th>
					Image Tag
				</th>
				<th>
					Status
				</th>
				<th>
					Mapped Port
				</th>
			</tr>
		</thead>
		<tbody>
			{% for world in worlds %}
				<tr>
					<td>
						{{ world["id"] }}
					</td>
					<td>
						{{ world["created"] }}
					</td>
					<td>
						{{ world["name"] }}
					</td>
					<td>
						{{ world["notes"] }}
					</td>
					<td>
						{{ world["last_played"] }}
					</td>
					<td>
						{{ world["container_name"] }}
					</td>
					<td>
						{{ world["image_tag"] }}
					</td>
					<td>
						{{ ["Stopped", "Running"][world["is_running"]] }}
					</td>
					<td>
						{{ world["mapped_port"] }}
					</td>
					<td>
						{% if(world["is_running"]) %}
							<a
								href="/worlds/stop/{{ world["id"] }}"
							>
								<button
								>
									Stop
								</button>
							</a>
						{% else %}
							<a
								href="/worlds/start/{{ world["id"] }}"
							>
								<button
								>
									Start
								</button>
							</a>
						{% endif %}
					</td>
				</tr>		
			{% endfor %}
		</tbody>
	</table>
</html>
