
{% extends "Header.j2" %}
{% block body %}
	<table
	  class="table table-dark table-striped"
	>
		<thead>
			<th
			  class="col-md-3"
			>
				Title
			</th>
			<th
			  class="col-md-2"
			>
				Location
			</th>
			<th
			  class="col-md-2"
			>
				Biome
			</th>
			<th
			  class="col-md-5"
			>
				Notes
			</th>
		</thead>
		<tbody>
			{% for location in locations %}
				<tr>
					<td>
						{{ location["title"] }}
					</td>
					<td>
						{{ location["location"][0] }}, {{ location["location"][1] }}, {{ location["location"][2] }}
					</td>
					<td>
						{{ location["Biome"] }}
					</td>
					<td>
						{{ location["notes"] }}
					</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>

	<div>
		<a
		  href="/locations/new"
		>
			<button
			  type="button"
			  class="btn btn-success"
			>
				New Location
			</button>
		</a>
	</div>
{% endblock %}
