<html>
	<title>
		{{ world.name }} Locations
	</title>

	<header>
		<a
			href="/"
		>
			⌂
		</a>
		&gt;
		<a
			href="/worlds"
		>
			Worlds
		</a>
		&gt;
		<a
			href="/worlds/{{ world.id }}"
		>
			{{ world.name }}
		</a>
		&gt; Locations
	</header>

	<body>
		<h1>
			Locations
		</h1>

		<a
			href="/worlds/{{ world.id }}/locations/new"
		>
			<button>
				+ New Location
			</button>
		</a>

		<table>
			<thead>
				<th>
					Title
				</th>
				<th>
					Location
				</th>
				<th>
					Dimension
				</th>
				<th>
					Biome
				</th>
				<th>
					Notes
				</th>
			</thead>
			<tbody>
				{% for location in locations %}
					<tr>
						<td>
							{{ location.title }}
						</td>
						<td>
							{{ location.location[0] }}, {{ location.location[1] }}, {{ location.location[2] }}
						</td>
						<td>
							{{ location.dimension.replace("_", " ").title() }}
						</td>
						<td>
							{% if location.biome.title is not none %}
								{{ location.biome.title }}
							{% else %}
								-
							{% endif %}
						</td>
						<td>
							{{ location.notes }}
						</td>
						<td>
							<form
								action="/worlds/{{ world.id }}/locations/{{ location.id }}/tp"
								method="POST"
								style="margin-bottom: 0px;"
							>
								<select
									name="player-select"
								>
									<option
										value="MPZinke"
									>
										MPZinke
									</option>
								</select>
								<button>
									Teleport
								</button>
							</form>
						</td>
						<td>
							<form
								action="/worlds/{{ world.id }}/locations/{{ location.id }}/delete"
								method="POST"
								style="margin-bottom: 0px;"
							>
								<button>
									🗑
								</button>
							</form>
						</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
	</body>
</html>
