
{% extends "wrapper.j2" %}
{% block page %}

	<title>
		{{ world.name }} Locations
	</title>

	<header>
		<a
			href="/"
		>
			⌂
		</a>
		&gt;
		<a
			href="/worlds"
		>
			Worlds
		</a>
		&gt;
		<a
			href="/worlds/{{ world.id }}"
		>
			{{ world.name }}
		</a>
		&gt; Locations
	</header>

	<body>
		<h1>
			Locations
		</h1>

		<a
			href="/worlds/{{ world.id }}/locations/new"
		>
			<button>
				+ New Location
			</button>
		</a>

		<table>
			<thead>
				<th>
				</th>
				<th>
					Title
				</th>
				<th>
					Location
				</th>
				<th>
					Dimension
				</th>
				<th>
					Biome
				</th>
				<th>
					Notes
				</th>
			</thead>
			<tbody>
				{% for location in locations %}
					{% include("worlds/world/locations/location.j2") %}
				{% endfor %}
			</tbody>
		</table>
	</body>

	<script>
		{% include "edit_value.js" with context %}
	</script>

{% endblock %}
