<html>
	<title>
		Players
	</title>

	<header>
		<a
			href="/"
		>
			⌂
		</a>
		&gt; Players
	</header>

	<body>
		<h1>
			Players
		</h1>

		<table>
			<thead>
				<tr>
					<th>
						Name
					</th>
					<th>
						UUID
					</th>
				</tr>
			</thead>
			<tbody>
				{% for player in players %}
					<tr>
						<td>
							{{ player.name }}
						</td>
						<td>
							{{ player.uuid }}
						</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
	</body>
</html>
