<html>
	<title>
		Worlds
	</title>


	<header>
		<a
			href="/"
		>
			⌂
		</a>
		&gt; Worlds
	</header>

	<body>
		<a
			href="/worlds/new"
		>
			<button>
				+ New World
			</button>
		</a>
		<table
			class="boxed"
		>
			<thead>
				<tr>
					<th>
						Name
					</th>
					<th>
						Version
					</th>
					<th>
						Status
					</th>
					<th>
						Port
					</th>
					<th></th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				{% for world in worlds %}
					<tr>
						<td>
							<a
								href="/worlds/{{ world.id }}"
							>
								{{ world.name }}
							</a>
						</td>
						<td>
							{{ world.version.tag }}
						</td>
						<td>
							{{ world.state }}
						</td>
						<td>
							{{ world.port }}
						</td>
						<td>
							<a
								href="/worlds/{{ world.id }}/download"
								download="{{ world.name + "_data.tar.gz"}}"
							>
								<button>
									⤓
								</button>
							</a>
						</td>
						<td>
							<form
								action="/worlds/{{ world.id }}/delete"
								onsubmit="return confirm(`Are you sure you want to delete world ${world_name}`);"
								style="margin-bottom: 0px;"
							>
								<button>
									🗑
								</button>
							</form>
						</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
	</body>
</html>
