<html>
	<title>
		Worlds
	</title>


	<header>
		<a
			href="/"
		>
			⌂
		</a>
		&gt; Worlds
	</header>

	<body>
		<a
			href="/worlds/new"
		>
			<button>
				+ New World
			</button>
		</a>
		<table
			class="boxed"
		>
			<thead>
				<tr>
					<th>
						Name
					</th>
					<th>
						Version
					</th>
					<th>
						Status
					</th>
					<th>
						Port
					</th>
					<th></th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				{% for world in worlds %}
					<tr>
						<td>
							<a
								href="/worlds/{{ world.id }}"
							>
								{{ world.name }}
							</a>
						</td>
						<td>
							{{ world.version.tag }}
						</td>
						<td>
							{{ world.state }}
						</td>
						<td>
							{% if world.port is not none %}
								{{ world.port }}
							{% else %}
								-
							{% endif %}
						</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
	</body>
</html>
