<html>


	<header>
		<a
			href="/"
		>
			⌂
		</a>
		&gt;
		<a
			href="/worlds"
		>
			Worlds
		</a>
		&gt; New
	</header>

	<body>

		<form
			method="POST"
		>
			<table
			>
				<tbody>
					<tr>
						<td>
							Name
						</td>
						<td>
							<input
								name="name-input"
							/>
						</td>
					</tr>
					<tr>
						<td>
							<a
								href="/versions"
							>
								Version
							</a>
						</td>
						<td>
							<select
								name="version_id-select"
							>
								{% for version in versions %}
									<option value="{{ version["id"] }}">
										{{ version["tag"] }}
									</option>
								{% endfor %}
							</select>
						</td>
					</tr>
					<tr>
						<td>
							Notes
						</td>
						<td>
							<input
								name="notes-input"
							/>
						</td>
					</tr>
				</tbody>
			</table>
			<button
				type="submit"
			>
				Add
			</button>
		</form>
	</body>
</html>
