
{% if world.state == "offline" %}
	<form
		action="/worlds/{{ world.id }}/delete"
		method="POST"
		onsubmit="return confirm(`Are you sure you want to delete world '{{ world.name }}'?`);"
		style="margin-bottom: 0px;"
	>
		<button>
			🗑
		</button>
	</form>
{% endif %}
