<html>
	<title>
		{{ world.name }}
	</title>

	<header>
		<a
			href="/"
		>
			⌂
		</a>
		&gt;
		<a
			href="/worlds"
		>
			Worlds
		</a>
		&gt; {{ world.name }}
	</header>

	<body>
		<h1
			ondblclick="edit_value(
				this,
				`{{ world.id }}`,
				`/worlds/{{ world.id }}/name`
			);"
		>
			{{ world.name }}
		</h1>

		<a
			href="/worlds/{{ world.id }}/commands"
			{% if(world.state != "running") %}
				disabled
			{% endif %}
		>
			<button>
				Commands
			</button>
		</a>

		<a
			href="/worlds/{{ world.id }}/locations"
			{% if(world.state != "running") %}
				disabled
			{% endif %}
		>
			<button>
				Locations
			</button>
		</a>

		<table>
			<tr>
				<td
					id="state-td"
				>
					{{ world.state }}
				</td>
				<td
					id="run_button-td"
				>
					{% include "worlds/world/run_button.j2" with context %}
				</td>
			</tr>
			<tr>
				<td
					id="running_container-td"
					colspan="2"
				>
					{% include "worlds/world/running_container.j2" with context %}
				</td>
			</tr>
			<tr>
				<td>
					Version
				</td>
				<td>
					<a
						href="/versions/{{ world.version.id }}"
					>
						{{ world.version.tag }}
					</a>
				</td>
			</tr>
			<tr>
				<td>
					Created
				</td>
				<td>
					{{ world.created.strftime("%Y-%m-%d %H:%M:%S") }}
				</td>
			</tr>
			<tr>
				<td>
					Last Played
				</td>
				<td
					id="last_played-td"
				>
					{% if(world.last_played is not none) %}
						{{ world.last_played.strftime("%Y-%m-%d %H:%M:%S") }}
					{% else %}
						-
					{% endif %}
				</td>
			</tr>
			<tr>
				<td>
					Seed
				</td>
				<td>
					{% if(world.seed is not none) %}
						{{ world.seed }}
					{% else %}
						-
					{% endif %}
				</td>
			</tr>
			<tr>
				<td>
					Data
				</td>
				<td>
					<a
						href="/worlds/{{ world.id }}/download"
						download="{{ world.name + "_data.tar.gz"}}"
					>
						⤓
					</a>
				</td>
			</tr>
			<tr>
				<td>
					Notes
				</td>
				<td>
					{{ world.notes }}
				</td>
			</tr>
			<tr>
				<td
					id="delete-td"
				>
					{% include "worlds/world/delete_button.j2" with context %}
				</td>
			</tr>
		</table>
	</body>
</html>

<script>
	{% include "worlds/world/index.js" with context %}
</script>