<html>
	<title>
		{{ world.name }}
	</title>

	<header>
		<a
			href="/"
		>
			⌂
		</a>
		&gt;
		<a
			href="/worlds"
		>
			Worlds
		</a>
		&gt; {{ world.name }}
	</header>

	<body>
		<h1>
			{{ world.name }}
		</h1>

		<a
			href="/worlds/{{ world.id }}/commands"
			{% if world.state != "running" %}
				disabled
			{% endif %}
		>
			<button>
				Commands
			</button>
		</a>

		<a
			href="/worlds/{{ world.id }}/locations"
			{% if world.state != "running" %}
				disabled
			{% endif %}
		>
			<button>
				Locations
			</button>
		</a>

		<table>
			<tr>
				<td
					id="state-td"
				>
					{{ world.state }}
				</td>
				<td
					id="run_button-td"
				>
					{% include "worlds/world/run_button.j2" with context %}
				</td>
			</tr>
			<tr>
				<td
					id="running_container-td"
					colspan="2"
				>
					{% include "worlds/world/running_container.j2" with context %}
				</td>
			</tr>
			<tr>
				<td>
					Version
				</td>
				<td>
					<a
						href="/versions/{{ world.version.id }}"
					>
						{{ world.version.tag }}
					</a>
				</td>
			</tr>
			<tr>
				<td>
					Created
				</td>
				<td>
					{{ world.created.strftime("%Y-%m-%d %H:%M:%S") }}
				</td>
			</tr>
			<tr>
				<td>
					Last Played
				</td>
				<td
					id="last_played-td"
				>
					{% if world.last_played is not none %}
						{{ world.last_played.strftime("%Y-%m-%d %H:%M:%S") }}
					{% else %}
						-
					{% endif %}
				</td>
			</tr>
			<tr>
				<td>
					Seed
				</td>
				<td>
					{% if world.seed is not none %}
						{{ world.seed }}
					{% else %}
						-
					{% endif %}
				</td>
			</tr>
			<tr>
				<td>
					Data
				</td>
				<td>
					<a
						href="/worlds/{{ world.id }}/download"
						download="{{ world.name + "_data.tar.gz"}}"
					>
						⤓
					</a>
				</td>
			</tr>
			<tr>
				<td>
					Notes
				</td>
				<td>
					{{ world.notes }}
				</td>
			</tr>
			<tr>
				<td>
					<form
						action="/worlds/{{ world.id }}/delete"
						method="POST"
						onsubmit="return confirm(`Are you sure you want to delete world '{{ world.name }}'`);"
						style="margin-bottom: 0px;"
					>
						<button>
							🗑
						</button>
					</form>
				</td>
			</tr>
		</table>
	</body>
</html>

<script>
	const LAST_PLAYED_TD = document.getElementById("last_played-td");
	const ONLINE_PLAYERS_TD = document.getElementById("online_players-td");
	const RUN_BUTTON_DIV = document.getElementById("run_button-td");
	const RUNNING_CONTAINER_TD = document.getElementById("running_container-td");
	const STATE_TD = document.getElementById("state-td");


	async function get_online_players()
	{
		let response = await fetch(
			`/worlds/{{ world.id }}/players/online`,
			{
				method: `GET`,
				headers: {"Content-Type": "application/json"},
			}
		);
		let response_body = await response.text();

		ONLINE_PLAYERS_TD.innerHTML = response_body;
	}


	async function update_state()
	{
		let response = await fetch(
			`/worlds/{{ world.id }}/state/json`,
			{
				method: `GET`,
				headers: {"Content-Type": "application/json"},
			}
		);

		let response_json = await response.json();

		LAST_PLAYED_TD.innerHTML = response_json.last_played;
		RUNNING_CONTAINER_TD.innerHTML = response_json.running_container_html;
		RUN_BUTTON_DIV.innerHTML = response_json.run_button_html;
		STATE_TD.innerHTML = response_json.state;

		if(response_json.state == "running" || response_json.state == "offline")
		{
			clearInterval(INTERVAL);
		}
	}


	{% if world.state not in ["offline", "running"] %}
		const INTERVAL = setInterval(update_state, 1000);
	{% else %}
		get_online_players();
		setInterval(get_online_players, 5000);
	{% endif %}

</script>
