<html>
	<header>
		<a
			href="/"
		>
			⌂
		</a>
		&gt; Versions
	</header>

	<title>
		Versions
	</title>

	<body>
		<h1>
			Versions
		</h1>

		<a
			href="/versions/new"
		>
			<button>
				+ New Version
			</button>
		</a>

		<table>
			<thead>
				<tr>
					<th>
						Tag
					</th>
					<th>
						Title
					</th>
					<th>
						Released
					</th>
				</tr>
			</thead>
			<tbody>
				{% for version in versions %}
					<tr>
						<td>
							{{ version.tag }}
						</td>
						<td>
							{{ version.title }}
						</td>
						<td>
							{{ version.released.strftime("%Y-%m-%d") }}
						</td>
						<td>
							<a
								href="{{ version.url }}"
								download="{{ version.tag }}-server.jar"
							>
								<button>
									⤓
								</button>
							</a>
						</td>
						<td>
							<a
								href="/worlds/new?version={{ version.id }}"
							>
								<button>
									+ New World
								</button>
							</a>
						</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
	</body>
</html>
