<html>

	<header>
		<a
			href="/"
		>
			⌂
		</a>
		&gt;
		<a
			href="/versions"
		>
			Versions
		</a>
		&gt; New
	</header>

	<title>
		New Version
	</title>

	<body>
		<h1>
			Upload A New Version
		</h1>

		<a
			href="/worlds"
		>
			<button>
				Worlds
			</button>
		</a>

		<form
			method="POST"
		>
			<table>
				<tr>
					<td>
						title
					</td>
					<td>
						<input
							name="title-input"
						/>
					</td>
				</tr>
				<tr>
					<td>
						tag
					</td>
					<td>
						<input
							name="tag-input"
						/>
					</td>
				</tr>
				<tr>
					<td>
						released
					</td>
					<td>
						<input
							type="date"
							name="released-input"
						/>
					</td>
				</tr>
				<tr>
					<td>
						url
					</td>
					<td>
						<input
							name="url-input"
						/>
					</td>
				</tr>
			</table>
			<button
				type=submit
			>
				Upload
			</button>
		</form>
	</body>
</html>
